<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CentralParkExplorer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F7EC9FB2E318D5400621B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F7ECA112E318D5700621B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F7ECA1B2E318D5700621B8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
